{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="home-show-playlist user_playlists" style="color: #fff;margin-bottom: 80px; padding: 10px 20px 20px 10px;">
		{% if playlist.userplaylists.exists %}
		<script type="text/javascript">
			window.onload = function(){
				queue_playlist[0] = {id:"{{playlist.id}}", name: "{{playlist.name}}", img:"{{playlist.playlist_img.url}}", artists: "{{playlist.user.name}}"}

			{% for plt in playlist.userplaylists.all %}
				musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{plt.song_model.song_name}}", img:"{{plt.song_model.song_img.url}}", src:"{{plt.song_model.song_path.url}}", song_auther_written: "{{plt.song_model.song_auther_written}}", album_id: "{{plt.song_model.album.id}}",album: "{{plt.song_model.album.name}}", lyrics:`{{plt.song_model.lyrics}}`}

			{% endfor %}
			}
		</script>


		<div class="playlist-header" style="display: flex;">
			<div class="playlist-img">
				{% if playlist.user == user %}
				<img class="user-playlist-img" src="{{playlist.playlist_img.url}}" alt="{{playlist.name}}">
				<i class="fas fa-pencil-alt fa-4x" data-toggle="modal" data-target="#exampleModal-picture"></i>
				<div class="modal fade" id="exampleModal-picture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
						  <div class="modal-content">
							
							<div class="modal-header">
							  <h5 class="modal-title" id="exampleModalLabel" style="color: #000;">Update Playlist (<b style="color: #1DB954;">{{playlist.name}}</b>)??</h5>
							  
							  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							  </button>
							</div>
							<form method="POST" onsubmit="return check_form_input()" enctype="multipart/form-data">
								  {% csrf_token %}
									<div class="modal-body">
										<label id="error_display" style="color: #000;font-weight: bold;font-size: 21px;margin-bottom: 15px;display: none;">No file chosen.The Field can not be <b style='color:red;'>Empty!</b></label>
									  <div class="form-group user-playlist-data" style="color: #000;">
										  <!-- <input type="file" name="playlist_img" accept="image/*" class="clearablefileinput form-control-file" id="id_playlist_img"> -->
										  {{ playlist_name_form|crispy }}
										  {{ playlist_img_form|crispy }}
									  </div>     	
										  
									</div>
									<div class="modal-footer">
										
										  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('error_display').style.display = 'none';">Cancel</button>
										  
										  <button type="submit" class="btn btn-success btn-sm" id="update">Update</button>

									  
									</div>
									<script type="text/javascript">
										var update_btn = document.getElementById("update")
										
  
										// if (update_input.value == "") {
										// 	update_btn.setAttribute("disabled", "off")
										// } else {
										// 	update_btn.RemoveAttribute("disabled")
										// }
										function check_form_input(){
											var update_input = document.getElementById("file_input").value;
											var error_display = document.getElementById("error_display");
											if (update_input == ""){
												error_display.style.display = "block";
												return false;
											}
										}
									</script>
							</form>
							
						<!-- --------------------  -->
						  </div>
						</div>
					  </div>
				{% else %}
					<img src="{{playlist.playlist_img.url}}" style="border-radius: 5px;">
				{% endif %}
					

					
				
					
				
			</div>
			
			<div class="playlist-header-content">
				<h2>{{playlist.name}}</h2><br>
				{% if user.is_authenticated %}
					{% if user.username == playlist.user.username %}
						<p class="featuring" style="color: #717171; font-size: 25px;">Inspired by <a href="{% url 'profile' %}" class="show_profile">{{playlist.user.username}}</a></p><br>
						
					{% else %}
						<p class="featuring" style="color: #717171; font-size: 25px;">Inspired by <label href="{% url 'profile' %}" style="color: #fff;text-decoration: none;">{{playlist.user.username}}</label></p><br>
		
					{% endif %}
				{% endif %}
				<h3>Discover new, popular music similar to the artists you've been listening to lately</h3>
				<p style=" font-size: 25px; margin-top: 20px;font-family: 'Pattaya';">Created on: <label style="color: #717171;font-family: 'Pattaya';">{{playlist.date_created|date:"F d, Y"}}</label></p>
				<p style="color: #717171; font-size: 25px; margin-top: 20px;font-family: 'Pattaya';" id="playlist_songs_length"></p>
				<!-- <form action="" method="POST">
					{% csrf_token %}
					
					{{p_form}}
					<button type="submit" class="btn btn-success" >Save</button>
				</form> -->
			</div>

			
		</div>
		<!-- ------------------------------------------------------------------ -->
		<button class="playlist-songs" id="playlist-songs" onclick='playMusic(0);'><i class="far fa-play-circle fa-1x"></i> Listen</button>
		<!-- ------------------------------------------------------------------ -->
		{% if playlist.user == user %}
			<button class="user_playlists_ellpsis" id="playlist-songs" style="border: none;">
			<div class="btn-group">
				<div class="btn-group">
				<i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
				<div class="dropdown-menu" style="background: #333;">
					<a class="dropdown-item" href="#" style="color: #fff;">Make Collaborative</a>
					<a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-picture">Edit Playlist</a>
					<a class="dropdown-item" href="#" style="color: #fff;">Download</a>
					<a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{playlist.id}}">Delete Playlist</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
				</div>
				</div>
			</div>
			</button>
		{% else %}
			<button class="user_playlists_ellpsis" id="playlist-songs" style="border: none;">
				<div class="btn-group">
					<div class="btn-group">
					<i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
					<div class="dropdown-menu" style="background: #333;">
						<a class="dropdown-item" href="#" style="color: #fff;">Play next</a>
						<a class="dropdown-item" href="#" style="color: #fff;">Download</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
					</div>
					</div>
				</div>
			</button>
		{% endif %}
		<!-- Split dropup button -->
		<div class="modal fade" id="exampleModal-{{playlist.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlist</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="sidebar-data">
	              <div class="modal-body-data">
	                   <h5 style="color: #717171;margin-left: 20px;">Are you sure you want to remove playlist (<b style="color: red;">{{playlist.name}}</b>) from your library </h5>
	              </div> 
	            </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        <form action="{% url 'delete_user_playlist' playlist.id %}" method="post" enctype="multipart/form-data">
		        	
	                {% csrf_token %}
	                <button type="submit" class="btn btn-danger">Remove</button>
	            </form> 
		        
		      </div>
		    </div>
		  </div>
		</div>
			
		
			<table class="table mt-3" style="margin-bottom: 100px;color: #fff;width: 100%;">
				<thead>
					<th>#</th>
					<!-- <th>Playlist Image</th> -->
					<th>Track</th>
					<th>Artists</th>
					<th>Lyrics</th>
					<th>Album</th>
					<th>Like</th>
					<th>Total Likes</th>
					<!-- <th>Favorites</th> -->
					<th>Length</th>
					<th>More</th>
					</thead>
				<tbody>

					{% for plt in playlist.userplaylists.all %}
					<tr class="tr">
						<td><img src="{{plt.song_model.song_img.url}}" class="song_img" width="50"     height="50">
							<i class="fa fa-play-circle fa-3x " id="{{forloop.counter0}}" onclick='playMusic({{forloop.counter0}});

							' id='{{plt.song_model.id}}'></i>
						</td>
						
						<td>{{plt.song_model.song_name}}</td>
						<td>
							{% if plt.song_model.authers_as_list %}
								{% for auther in plt.song_model.authers_as_list %}

							          <a href="{% url 'artist_data' auther %}" class="table-content">{{auther}},</a>

							    {% endfor %}
							{% else %}
								{{plt.song_model.song_auther_written}}
							{% endif %}
						</td>

						{% if plt.song_model.lyrics %}
							<td><img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
		
						playMusic({{forloop.counter0}});
						showLyrics("{{forloop.counter0}}");
						// console.log(musicData)

							'
							 width="50" height="50"></td>
						{% else %}
							<td><img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
		
						playMusic({{forloop.counter0}});
						noLyrics("{{plt.song_model.song_name}}", "{{plt.song_model.song_auther_written}}");
							

							' width="50" height="50"></td>
						{% endif %}

						{% if plt.song_model.album %}
							<td><a href="{% url 'album' plt.song_model.album.id %}" class="table-content">{{plt.song_model.album.name}}</a></td>
						{% else %}
							<td><p style="margin-left: 30%;font-size: 22px;">-</p></td>
						{% endif %}

						<td>
							<form action="{% url 'like_song' plt.song_model.id %}" method="post">
				        		{% csrf_token %}
					        	<!-- {% if liked %}
					        			<button class="btn btn-danger our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;"><i class="far fa-heart fa-2x"></i></button>
					        	{% else %}
					        		<button class="btn btn-primary mb-1 our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;"><i class="far fa-heart fa-2x"></i></button>
					        	{% endif %} -->
								
								{% if user.is_authenticated %}
				                  {% if plt.song_model.song_name in song_liked_list %}
								  		<button class="btn btn-danger our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;color: #1DB954;"><i class="fas fa-heart fa-2x"></i></button>

						          {% else %}
								  		<button class="btn btn-primary mb-1 our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;"><i class="far fa-heart fa-2x"></i></button>
						          {% endif %}
					           	{% else %}
					        		<p>Can't like</p>
					          	{% endif %}

								

							</form>
						</td>
						<td>{{plt.song_model.total_likes}}</td>
						<td><!-- <p id="length_holder"></p> -->
							3.12

						</td>
						<!-- 
							var player = new Audio;
							player.type = 'audio/mpeg';
							player.onloadeddata = () =>  {
							  progress.max = player.duration
							  const ds = parseInt(player.duration % 60)//getting seconds
							  const dm = parseInt((player.duration / 60) % 60)//getting minutes
							  ttview.textContent = dm + ':' + ds;
}
						 -->
						
						<td>
							<div class="btn-group">
							    <div class="btn-group">
								  <i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
							      <div class="dropdown-menu" style="background: #333;">
							        <a class="dropdown-item play-next" onclick="switch_song({{forloop.counter0}})" style="color: #fff;">Play next</a>
							        {% if plt.song_model.song_name in favorite_songs %}
							        	<a href="{% url 'favorite_song' plt.song_model.id %}" class="dropdown-item" name="song_favorite" style="color: #fff;">Remove from Favorites</a>
							        {% else %}
							        	<a href="{% url 'favorite_song' plt.song_model.id %}" class="dropdown-item" name="song_favorite" style="color: #fff;">Add To Favorites</a>
							        {% endif %}
							        <a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{plt.song_model.id}}">Add to playlist</a>
									<!-- hidding the remove song link if the user authenticated is not the playlist auther -->
									{% if playlist.user == user %}
							        	<a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{plt.song_model.reference_name}}">Remove from playlist</a>
									{% endif %}
							        <div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
							      </div>
								</div>
							</div>
						</td>
						
						<!-- Default dropup button -->

					</tr>
					<!-- adding a song to a playlist -->
					<div class="modal fade" id="exampleModal-{{plt.song_model.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog modal-dialog-scrollable" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlists</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="sidebar-data">
					              {% if user.user_created_playlists.exists %}
					              <div class="modal-body-data">
					                {% for playlist in user.user_created_playlists.all %}
					                <form action="{% url 'add_song_to_playlist' playlist=playlist.id id=plt.song_model.id  %}" method="post" enctype="multipart/form-data">
										<!-- for album your say album=plt.album.id -->
					                	{% csrf_token %}
					                	<div class="song_container">
						                  	<button type="submit" name="submit_button">
							                  	<img src="{{ playlist.playlist_img.url }}" width="60" height="60" name="song_img">
							                    <p class="plt_name" name="song_name">{{playlist.name}}</p>
							                  </button>
						                  </div>
					                	}
					                </form>    
					                {% endfor %}
					                
					              </div> 
					              {% else %} 

					              {% endif %}
					            </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <a href="{% url 'create_playlist' user.id %}">
						        <button type="submit" class="btn btn-success btn-sm">Create new playlist</button></a>
						        <!-- <form action="" method="POST">
						        	<button type="submit" class="btn btn-success btn-sm">Save</button>
						        </form> -->
						        
						      </div>
						    </div>
						  </div>
						</div>

						<!-- removing a song from a playlist -->
						<div class="modal fade" id="exampleModal-{{plt.song_model.reference_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlists</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="sidebar-data">
					              <div class="modal-body-data">
					                   <h5 style="color: #717171;margin-left: 20px;">Are you sure you want to remove (<b style="color: red;">{{plt.song_model.song_name}}</b> <b style="color: #000;">by</b> <b style="color: red;">{{plt.song_model.song_auther}}</b>) from playlist <b style="color: red;">"{{playlist.name}}"</b></h5>
					              </div> 
					            </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <form action="{% url 'remove_song_from_playlist' playlist=playlist.id id=plt.song_model.id  %}" method="post" enctype="multipart/form-data">
						        	<!-- {% url 'remove_song_from_playlist' playlist=playlist.id id=plt.song_model.id  %} -->
					                {% csrf_token %}
					                <button type="submit" class="btn btn-danger">Remove</button>
					            </form> 
						        
						      </div>
						    </div>
						  </div>
						</div>
					{% endfor %}
				</tbody>
			</table>
			
			<!-- if no playlist songs were found -->
			{% else %}
			
			<div class="playlist-header" style="display: flex;">
				<div class="playlist-img">
					{% if playlist.user == user %}
					
					<img class="user-playlist-img" src="{{playlist.playlist_img.url}}" alt="{{playlist.name}}">
					<i class="fas fa-pencil-alt fa-4x" data-toggle="modal" data-target="#exampleModal-picture"></i>
					<div class="modal fade" id="exampleModal-picture" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;">Choose a picture??</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <form method="POST" onsubmit="return check_form_input()" enctype="multipart/form-data">
								  {% csrf_token %}
									<div class="modal-body">
										<label id="error_display" style="color: #000;font-weight: bold;font-size: 21px;margin-bottom: 15px;display: none;">No file chosen.The Field can not be <b style='color:red;'>Empty!</b></label>
									  <div class="form-group user-playlist-data" style="color: #000;">
										  <!-- <input type="file" name="playlist_img" accept="image/*" class="clearablefileinput form-control-file" id="id_playlist_img"> -->
										  {{ playlist_name_form|crispy }}
										  {{ playlist_img_form|crispy }}
									  </div>     	
										  
									</div>
									<div class="modal-footer">
										
										  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="document.getElementById('error_display').style.display = 'none';">Cancel</button>
										  
										  <button type="submit" class="btn btn-success btn-sm" id="update">Update</button>
										  

									  
									</div>
									<script type="text/javascript">
										var update_btn = document.getElementById("update")
										
  
										// if (update_input.value == "") {
										// 	update_btn.setAttribute("disabled", "off")
										// } else {
										// 	update_btn.RemoveAttribute("disabled")
										// }
										function check_form_input(){
											var update_input = document.getElementById("file_input").value;
											var error_display = document.getElementById("error_display");
											if (update_input == ""){
												error_display.style.display = "block";
												return false;
											}
										}
									</script>
							</form>
					      
				      <!-- --------------------  -->
					    </div>
					  </div>
					</div>
				</div>
				{% else %}
					
					<img src="{{playlist.playlist_img.url}}" alt="{{playlist.name}}">

					
				</div>
				{% endif %}
				<div class="playlist-header-content">
					<h2>{{playlist.name}}</h2><br>

					{% if user.is_authenticated %}
						{% if user.username == playlist.user.username %}
							<p class="featuring" style="color: #717171; font-size: 25px;">Inspired by <a href="{% url 'profile' %}" class="show_profile">{{playlist.user.username}}</a></p><br>
						{% else %}
							<p class="featuring" style="color: #717171; font-size: 25px;">Inspired by <label href="{% url 'profile' %}" style="color: #fff;text-decoration: none;">{{playlist.user.username}}</label></p><br>
						{% endif %}
					{% endif %}
					<h3>Discover new, popular music similar to the artists you've been listening to lately</h3>
					<p style=" font-size: 25px; margin-top: 20px;font-family: 'Pattaya';">Created on: <label style="color: #717171;font-family: 'Pattaya';">{{playlist.date_created|date:"F d, Y"}}</label></p>
				</div>

				
			</div>
			{% if playlist.user == user %}
			<a href="{% url 'home' %}"><button class="playlist-songs" id="playlist-songs" disabled>Get Songs</button></a>
			<button class="user_playlists_ellpsis" id="playlist-songs" style="border: none;">
				<div class="btn-group">
				    <div class="btn-group">
					  <i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
				      <div class="dropdown-menu" style="background: #333;">
				      	<a class="dropdown-item" href="#" style="color: #fff;">Make Collaborative</a>
				      	<a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-picture">Edit Playlist</a>
				      	<a class="dropdown-item" href="#" style="color: #fff;">Download</a>
				      	<a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{playlist.id}}">Delete Playlist</a>
				        <div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
				      </div>
					</div>
				</div>
			</button>
			<!-- Split dropup button -->
			<div class="modal fade" id="exampleModal-{{playlist.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlist</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			        <div class="sidebar-data">
		              <div class="modal-body-data">
		                   <h5 style="color: #717171;margin-left: 20px;">Are you sure you want to remove playlist (<b style="color: red;">{{playlist.name}}</b>) from your library </h5>
		              </div> 
		            </div>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			        <form action="{% url 'delete_user_playlist' playlist.id %}" method="post" enctype="multipart/form-data">
			        	
		                {% csrf_token %}
		                <button type="submit" class="btn btn-danger">Remove</button>
		            </form> 
			        
			      </div>
			    </div>
			  </div>
			</div>
			{% endif %}
			<center style="display: block;">
				<div>
					<h3 style="margin-top: 10px;margin-bottom: 10px;">This playlist is currently empty.</h3>
					<h6>Find songs from our new releases from your favorite Artists and others.</h6>
					<br>
					<a href="{% url 'discover' %}" class="btn btn-outline-success">Discover</a>
				</div>
				
			</center>
		
			{% endif %}
		
	</div>
{% endblock %}
