{% extends 'main/base.html' %}
{% load static %}

{% block content %}
	<div class="home-show-playlist" style="color: #fff;margin-bottom: 80px; padding: 6px 10px; ">
		
		<div class="playlist-header" style="display: flex;">
			<img src="{{playlist.playlist_img.url}}" width="300" height="300" style="border-radius: 5px;">
			<div class="playlist-header-content ml-2">
				<h2>{{playlist.name}}</h2><br>
				<p class="featuring" style="color: #717171; font-size: 25px;">Inspired by <a href="#" class="show_profile">{{playlist.inspired}}</a></p>
				<br>
				<h3 class="ml-4">Discover new, popular music similar to the artists you've been listening to lately</h3>
				<p style="color: #717171; font-size: 25px; margin-top: 20px;font-family: 'Pattaya';" id="playlist_songs_length"></p>
			</div>

			
		</div>
		<button class="playlist-songs" id="playlist-songs" style="" onclick='

		queue_playlist[0] = {id:"{{playlist.id}}", name: "{{playlist.name}}", img:"{{playlist.playlist_img.url}}", artists: "{{playlist.inspired}}"}

			{% for plt in playlist.homepageplaylist.all %}

				musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{plt.song_model.song_name}}", img:"{{plt.song_model.song_img.url}}", src:"{{plt.song_model.song_path.url}}", song_auther: "{{plt.song_model.song_auther}}", lyrics:`{{plt.song_model.lyrics}}`}

			{% endfor %}
			playMusic(0);
			console.log(musicData)
			'

		><i class="far fa-play-circle fa-1x"></i> Listen</button>

		<button class="user_playlists_ellpsis" id="playlist-songs" style="border: none;">
			<div class="btn-group">
			    <div class="btn-group">
				  <i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
			      <div class="dropdown-menu" style="background: #333;">
			      	<a class="dropdown-item" href="#" style="color: #fff;">Add to Queue</a>
			      	<a class="dropdown-item" href="#" style="color: #fff;">Go to Artist</a>
			      	<!-- <a class="dropdown-item" href="{% url 'savePlaylistToLibrary' playlist.id %}" style="color: #fff;">Save to your Library</a> -->
			      	{% if user.userInherited.exists %}
                  		{% for plt in user.userInherited.all %}
	                  		{% if playlist.id == plt.playlist.id %}

				      			<a class="dropdown-item" href="{% url 'savePlaylistToLibrary' playlist.id %}" style="color: #fff;">Remove from library</a>

				      		{% else %}
				      			<a class="dropdown-item" href="{% url 'savePlaylistToLibrary' playlist.id %}" style="color: #fff;">Save to your Library</a>

				      		{% endif %}
			      		{% endfor %}
			      	{% else %}
				      	<a class="dropdown-item" href="{% url 'savePlaylistToLibrary' playlist.id %}" style="color: #fff;">Save to your Library</a>
			      	{% endif %}
			        <div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
			      </div>
				</div>

			</div>
		</button>
		{% if playlist.homepageplaylist.all%}
		
			<table class="table mt-3" style="margin-bottom: 100px;color: #fff;width: 100%;border-color: red;">
				<thead>
					<th>#</th>
					<th>Track</th>
					<th>Artist</th>
					<th>Lyrics</th>
					<th>Album</th>
					<th>Like</th>
					<th>Total Likes</th>
					<!-- <th>Favorites</th> -->
					<th>Length</th>
					<th>More</th>
					</thead>
				<tbody>
					{% for plt in playlist.homepageplaylist.all %}
					<tr>
						<td>
							<img src="{{plt.song_model.song_img.url}}" class="song_img" width="50" height="50">
							<i class="fa fa-play-circle fa-3x " onclick='

								// -------------------------------------------------------------------------------
								queue_playlist[0] = {id:"{{playlist.id}}", name: "{{playlist.name}}", img:"{{playlist.playlist_img.url}}", artists: "{{playlist.inspired}}"}

								    {% for plt in playlist.homepageplaylist.all %}
								        musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{plt.song_model.song_name}}", img:"{{plt.song_model.song_img.url}}", src:"{{plt.song_model.song_path.url}}", song_auther: "{{plt.song_model.song_auther}}", lyrics:`{{plt.song_model.lyrics}}`}

								    {% endfor %}
								playMusic({{forloop.counter0}})
								if ({{forloop.counter0}} == data.id) {
									console.log(true) 
								} else {
									console.log(false) 
								}

								// ------------------------------------------------------------------------------

							' id='{{plt.song_model.id}}'></i>
						</td>
						<td>{{plt.song_model.song_name}}</td>
						<td  class='marquee'>{{plt.song_model.song_auther}}</td>
						{% if plt.song_model.lyrics %}
							<td><img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
							// ---------------------------------------------------------------------------------
							queue_playlist[0] = {id:"{{playlist.id}}", name: "{{playlist.name}}", img:"{{playlist.playlist_img.url}}", artists: "{{playlist.inspired}}"}
							
							{% for plt in playlist.playlist.all %}
						        musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{plt.song_model.song_name}}", img:"{{plt.song_model.song_img.url}}", src:"{{plt.song_model.song_path.url}}", song_auther: "{{plt.song_model.song_auther}}", lyrics:`{{plt.song_model.lyrics}}`}

						    {% endfor %}
							playMusic({{forloop.counter0}});

							console.log(musicData)
							showLyrics({{forloop.counter0}});

							
								if (player.currentTime > 0) {
									console.log("Greater");
								} else {
									playMusic({{forloop.counter0}});
								}
							
							// ----------------------------------------------------------------------------------
							' width="50" height="50"></td>
						{% else %}
							<td><img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
							// -----------------------------------------------------------------------------------
							queue_playlist[0] = {id:"{{playlist.id}}", name: "{{playlist.name}}", img:"{{playlist.playlist_img.url}}", artists: "{{playlist.inspired}}"}
							
							noLyrics("{{plt.song_model.song_name}}", "{{plt.song_model.song_auther}}";

							{% for plt in playlist.homepageplaylist.all %}
						        musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{plt.song_model.song_name}}", img:"{{plt.song_model.song_img.url}}", src:"{{plt.song_model.song_path.url}}", song_auther: "{{plt.song_model.song_auther}}", lyrics:`{{plt.song_model.lyrics}}`}

						    {% endfor %}
							playMusic({{forloop.counter0}});

							console.log(musicData)
							
								if (player.currentTime > 0) {
									console.log("Greater");
								} else {
									playMusic({{forloop.counter0}});
								}

								// ---------------------------------------------------------------------------------
							' width="50" height="50"></td>
						{% endif %}
						<td>Rollin</td>
						<td>
							<form action="{% url 'like_song' plt.song_model.pk %}" method="post">
				        		{% csrf_token %}
					        	<!-- {% if liked %}
					        			<button class="btn btn-danger our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;"><i class="fas fa-heart fa-2x"></i></button>

					        	{% else %}
					        		<button class="btn btn-primary mb-1 our-button" name="song_id" type="submit" value="{{ plt.song_model.id}}" style="width: 50px;height: 50px;border: none;background: no-repeat;border-radius: 8px;"><i class="far fa-heart fa-2x"></i></button>
					        	{% endif %} -->
					        	<!-- ------------------------------------------------- -->
					        	
					        	{% if user.is_authenticated %}
				                  {% if liked %}

					        			<button class="btn btn-danger mb-1 mr-2" name="song_id" type="submit" value="{{ plt.song_model.id}}"><i class="far fa-thumbs-down"></i></button>
					        			<!-- {{liked}} -->

						          {% else %}
						        		<button class="btn btn-primary mb-1" name="song_id" type="submit" value="{{ plt.song_model.id}}"><i class="far fa-thumbs-up"></i></button>
						        		<!-- {{liked}} -->
						          {% endif %}
					           	{% else %}
					        		<p>Can't like</p>
					          	{% endif %}

							</form>
						</td>
						<td>{{plt.song_model.total_likes}}</td>
						<td>3.12</td>
						<td>
							<div class="btn-group">
							    <div class="btn-group">
								  <i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
							      <div class="dropdown-menu" style="background: #333;">
							        <a class="dropdown-item" href="#"  style="color: #fff;">Add to Queu</a>
							        {% if is_favorite %}
							        	<a href="{% url 'favorite_song' plt.song_model.id %}" class="dropdown-item" name="song_favorite" style="color: #fff;">Remove from Favorites</a>
							        {% else %}
							        	<a href="{% url 'favorite_song' plt.song_model.id %}" class="dropdown-item" name="song_favorite" style="color: #fff;">Add To Favorites</a>
							        {% endif %}
							        <a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{plt.song_model.id}}">Add to playlist</a>
							        <div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
							      </div>
								</div>
							</div>
						</td>
						<!-- Default dropup button -->
						
						
					</tr>
					<div class="modal fade" id="exampleModal-{{plt.song_model.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlists</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="sidebar-data">
					              {% if user.user_created_playlists.exists %}
					              <div class="modal-body-data">
					                {% for playlist in user.user_created_playlists.all %}
					                <form action="{% url 'add_song_to_playlist' playlist=playlist.id id=plt.song_model.id  %}" method="post" enctype="multipart/form-data">
					                	{% csrf_token %}
					                	<div class="song_container">
						                  	<button type="submit" name="submit_button">
							                  	<img src="{{ playlist.playlist_img.url }}" width="60" height="60" name="song_img">
							                    <p class="plt_name" name="song_name">{{playlist.name}}</p>
							                  </button>
						                  </div>
					                	}
					                </form>    
					                {% endfor %}
					                
					              </div> 
					              {% else %} 
					              	<div class="modal-body-data">
						                <h3 style="color: #717171;margin-left: 20px;">No Playlist found</h3>
						            </div> 
					              {% endif %}
					            </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <a href="{% url 'create_playlist' user.id %}">
						        	<button type="submit" class="btn btn-success btn-sm">Create new playlist</button>
						        </a>
						        <!-- <form action="" method="POST">
						        	<button type="submit" class="btn btn-success btn-sm">Save</button>
						        </form> -->
						        
						      </div>
						    </div>
						  </div>
						</div>
					{% endfor %}
				</tbody>
			</table>
		
		{% else %}
			<center style="display: block;">
				<div>
					<h3 style="margin-top: 10px;margin-bottom: 10px;">This playlist is currently empty.</h3>
					<h6>Find songs from our new releases from your favorite Artists and others.</h6>
					<br>
					<a href="{% url 'discover' %}" class="btn btn-outline-success">Discover</a>
				</div>
				
			</center>
		{% endif %}

	</div>
{% endblock %}

<!-- 
1. Ella ist an einer Kürbisstation. Sie macht Fotos, weil sie über Vertrauen berichten will

2. Der Mann nimmt einen großen Kürbis, steckt ihn in sein Auto und will wegfahren, ohne zu bezahlen

3. Ella fragt den Mann, dass er den Kürbis nicht bezahlt hat

4. Er sagt, es ein Unfall gewesen. weil er zu spät kam
 -->