{% extends 'main/base.html' %}
{% load static %}
{% block title %}Favorites{% endblock %}
{% block content %}
	<div class="" style="padding: 5px;color: #fff;margin-bottom: 100px;">
		<div class="content-section mt-4">
			{% if user.favorite_song.exists %}
			<center>
				<h1>Favorites Songs</h1>
				<p style="color: #717171; font-size: 21px; margin-top: 10px;font-family: 'Pattaya';" id="playlist_songs_length"></p>
				<button class="playlist-songs" id="playlist-songs"  onclick='
				queue_playlist[0] = {id:"{{user.id}}", name: "{{user.username}}", img:"{{user.profile.image.url}}"}
				{% for fav_song in user.favorite_song.all %}

					musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{fav_song.song_name}}", img:"{{fav_song.song_img.url}}", src:"{{fav_song.song_path.url}}", song_auther: "{{fav_song.song_auther}}", lyrics:`{{fav_song.lyrics}}`}

				{% endfor %}
				playMusic(0)
			'><i class="far fa-play-circle fa-1x"></i> Listen</button>
			</center>
			
			
				<table class="table mt-3">
					<thead>
						<th>#</th>
						<!-- <th>Id</th>
						<th>Playlist Image</th> -->
						<th>Track</th>
						<th>Artist</th>
						<th>Lyrics</th>
						<th>Album</th>
						<th>Length</th>
						<th>Likes</th>
						<th>Remove</th>
						<th>more</th>
					</thead>
					<tbody>
						{% for song in user.favorite_song.all %}
						<tr>
							
							<td>
								<img src="{{song.song_img.url}}" class="song_img" width="50" height="50">
								<i class="fa fa-play-circle fa-3x " onclick='

									// -------------------------------------------------------------------------------
									queue_playlist[0] = {id:"{{user.id}}", name: "{{user.username}}", img:"{{user.profile.image.url}}"}
								{% for fav_song in user.favorite_song.all %}

									musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{fav_song.song_name}}", img:"{{fav_song.song_img.url}}", src:"{{fav_song.song_path.url}}", song_auther: "{{fav_song.song_auther}}", lyrics:`{{fav_song.lyrics}}`}

								{% endfor %}
								playMusic({{forloop.counter0}});
									playMusic({{forloop.counter0}})
									

									// ------------------------------------------------------------------------------

								' id='{{song.id}}'></i>
							</td>
								<td>{{song.song_name}}</td>
								<td>{{song.song_auther}}</td>

							{% if song.lyrics %}
							<td>
								<img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
							// ---------------------------------------------------------------------------------
								queue_playlist[0] = {id:"{{user.id}}", name: "{{user.username}}", img:"{{user.profile.image.url}}"}
								{% for fav_song in user.favorite_song.all %}

									musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{fav_song.song_name}}", img:"{{fav_song.song_img.url}}", src:"{{fav_song.song_path.url}}", song_auther: "{{fav_song.song_auther}}", lyrics:`{{fav_song.lyrics}}`}

								{% endfor %}
								playMusic({{forloop.counter0}});

								console.log(musicData)
								showLyrics();

								
									if (player.currentTime > 0) {
										console.log("Greater");
									} else {
										playMusic({{forloop.counter0}});
									}
								
								// ----------------------------------------------------------------------------------
								' width="50" height="50"></td>
							{% else %}
								<td><img src="{% static '/main/img/black-2403543_640.png' %}" class="lyrics-icon rounded-circle" onclick='
								// -----------------------------------------------------------------------------------
								queue_playlist[0] = {id:"{{user.id}}", name: "{{user.username}}", img:"{{user.profile.image.url}}"}
								{% for fav_song in user.favorite_song.all %}

									musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{fav_song.song_name}}", img:"{{fav_song.song_img.url}}", src:"{{fav_song.song_path.url}}", song_auther: "{{fav_song.song_auther}}", lyrics:`{{fav_song.lyrics}}`}

								{% endfor %}
								playMusic({{forloop.counter0}});

								console.log(musicData)

								noLyrics("{{plt.song_model.song_name}}", "{{plt.song_model.song_auther}}");

									// ---------------------------------------------------------------------------------
								' width="50" height="50"></td>
							{% endif %}

								{% if song.album %}
									<td><a href="{% url 'album' song.album.id %}" class="table-content">{{song.album.name}}</a></td>
								{% else %}
									<td><p style="margin-left: 30%;font-size: 22px;">-</p></td>
								{% endif %}
								<td>3.12</td>
								<td>{{song.total_likes}}</td>
								<td><a href="{% url 'favorite_song' song.id %}" class="btn btn-danger" >Remove</a></td>
								<td>
									<div class="btn-group">
									    <div class="btn-group">
										  <i class="fas fa-ellipsis-h fa-2x" data-toggle="dropdown" style="cursor: pointer;"></i>
									      <div class="dropdown-menu" style="background: #333;">
									        <a class="dropdown-item" href="#"  style="color: #fff;">Add to Queu</a>
									        <a class="dropdown-item" href="#" style="color: #fff;" data-toggle="modal" data-target="#exampleModal-{{song.id}}">Add to playlist</a>
									        <div class="dropdown-divider"></div>
											<a class="dropdown-item" href="#" style="color: #fff;">Share</a>
									      </div>
										</div>
									</div>
								</td>
							
						</tr>
						<div class="modal fade" id="exampleModal-{{song.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel" style="color: #000;"><b>{{user.username}}'s</b> - Playlists</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="sidebar-data">
					              {% if user.user_created_playlists.exists %}
					              <div class="modal-body-data">
					                {% for playlist in user.user_created_playlists.all %}
					                <form action="{% url 'add_song_to_playlist' playlist=playlist.id id=song.id  %}" method="post" enctype="multipart/form-data">
					                	{% csrf_token %}
					                	<div class="song_container">
						                  	<button type="submit" name="submit_button">
							                  	<img src="{{ playlist.playlist_img.url }}" width="60" height="60" name="song_img">
							                    <p class="plt_name" name="song_name">{{playlist.name}}</p>
							                  </button>
						                  </div>
					                	}
					                </form>    
					                {% endfor %}
					                
					              </div> 
					              {% else %} 
					              	<div class="modal-body-data">
						                <h3 style="color: #717171;margin-left: 20px;">No Playlist found</h3>
						            </div> 
					              {% endif %}
					            </div>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <!-- <form action="" method="POST">
						        	<button type="submit" class="btn btn-success btn-sm">Save</button>
						        </form> -->
						        
						      </div>
						    </div>
						  </div>
						</div>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
			<div style="padding-top: 25vh;padding-left: 45vh;">
				<h3>Oops, looks you have no favorite songs!! </h3>
				<a href="{% url 'home' %}" class="btn btn-outline-success" style="margin-left: 180px;margin-top: 10px;">Get Songs</a>
			</div>
				
			{% endif %}
			<br><br><br>
		</div>
	</div>
{% endblock %}