{% extends 'main/base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
	<div class="content-section" style="padding: 0 50px; color: #fff;">
		<h3>Results found: {{ length }} </h3>
		<div class="row">
			{% for song in match %}
	
				<div class="swiper-slide">
                	<button class="playlist-button" type="button" onclick='
					{% for playlist_plt in match %}

							musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{playlist_plt.song_name}}", img:"{{playlist_plt.song_img.url}}", src:"{{playlist_plt.song_path.url}}", song_auther_written: "{{playlist_plt.song_auther_written}}", album_id: "{{playlist_plt.album.id}}", album: "{{playlist_plt.album.name}}", lyrics:`{{playlist_plt.lyrics}}`}

						{% endfor %}
						playMusic({{forloop.counter0}})

				'><i class="far fa-play-circle fa-3x" style="" id='play_icon'></i></button>
					<img src="{{song.song_img.url}}" onclick='
						{% for playlist_plt in match %}

								musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{playlist_plt.song_name}}", img:"{{playlist_plt.song_img.url}}", src:"{{playlist_plt.song_path.url}}", song_auther_written: "{{playlist_plt.song_auther_written}}", album_id: "{{playlist_plt.album.id}}", album: "{{playlist_plt.album.name}}", lyrics:`{{playlist_plt.lyrics}}`}

							{% endfor %}
							playMusic({{forloop.counter0}})

					' alt="{{song.song_name}}"><h3 class="hometitle" onclick='
						{% for playlist_plt in match %}

								musicData[{{forloop.counter0}}] = {id:{{forloop.counter0}}, name: "{{playlist_plt.song_name}}", img:"{{playlist_plt.song_img.url}}", src:"{{playlist_plt.song_path.url}}", song_auther: "{{playlist_plt.song_auther}}", lyrics:`{{playlist_plt.lyrics}}`}

							{% endfor %}
							playMusic({{forloop.counter0}})
					'>{{song.song_name}} - {{song.song_auther}}</h3>
                </div>
              
            
            {% endfor %}
		</div>
	</div>
{% endblock %}